{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPLIFT demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <header>
        <div class="logo">
          <img src="{% static "images/Ellipse_15.jpg" %}" alt="logo" height="40px">
        </div>
        <ul class="navli">
          <li><a href="">Friends in need</a></li>
          <li><a href="#">Contributors</a></li>
          <li><a href="#">Status</a></li>
          <li>
            <a href="">
                How it works
            </a>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Success stories</a></li>
                <li><a href="">Ranks</a></li>
            </ul>
        </li>
        </ul>
    </header>
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="background-color: rgb(224,23,23); color: aliceblue;">
                <br>
                <p style="text-align: center; color: white;">Would you like to declare your<br>
                    contribution, declare your need for<br>
                    something or both ?
                 </p>
                <div class="logom">
                    <img src="{% static "images/Ellipse_15.jpg" %}" alt="logo">
                </div>
                <br>
                <p style="text-align: center;">Making Hope Tangible</p>
            </div>
            <div class="col-md-8" style="background-color: white;">
                <br>
                <div class="links">
                    <button type="submit" class="donate">
                       <h3 style="text-align: center;">GET CODE</h3> 
                       <hr>
                       <p style="text-align: center;">To declare your<br>
                        contribution
                       </p>
                    </button>
                    <button type="submit" class="give">
                        <h3 style="text-align: center;">GET CODE</h3> 
                        <hr>
                        <p style="text-align: center;">To declare your<br>
                         need for something
                        </p>
                    </button>
                    <br><br>
                </div>
                <div class="landform-container">
                    <form method="post" class="landform">
                        <input type="text" placeholder="Username" name="username">
                        <input type="number" placeholder="Code" name="code">
                        <br>
                        <div class="button-container">
                        <button type="submit" name="landbutton" class="landbutton" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
    <footer>
        <div class="footer-info">
            <div class="footer-contact">
                <p>Contact us on:</p>
                <span><i class="fas fa-phone"></i>&nbsp;256-45646-3544</span>
                <span><i class="fas fa-envelope"></i>&nbsp; info uplift@gmail.com</span>
            </div>
            <div class="footer-visit">
                <p>Visit us on:</p>
                <a href=""><span><i class="fab fa-facebook-square"></i>&nbsp;Facebook</span></a>
                <a href=""><span><i class="fab fa-twitter-square"></i>&nbsp;Twitter</span></a>
                <a href=""><span><i class="fab fa-instagram-square"></i>&nbsp;Instagram</span></a>
            </div>
        </div>
        <hr class="line-for-footer">
        <div class="footer-bottom">
            | &copy; GAME CHANGERS / UPLIFT
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/950b207f71.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>